<div class="block-rows-sep">
{{ form.instrument }}
<div class="row mmoda-form-ids">
    {{ form.form_build_id }}
    {{ form.form_id }}
</div>

{{ form.query_type }}

<div class="row underline pb-2">
  <div class="col-md-6">
    {{ form.product_type }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.IC40 }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Slope }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.IC59 }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.IC79 }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.IC86_I }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.IC86_II_VII }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Spectrum_type }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Radius }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.pixel_size }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.TSmap_type }}
  </div>
</div>

<div class="actions mt-3">
  {{ form.submit }}
</div>
</div>
