<div class="block-rows-sep">
{{ form.instrument }}
<div class="row mmoda-form-ids">
    {{ form.form_build_id }}
    {{ form.form_id }}
</div>

<div class="row underline pb-2">
  <div class="col-md-6">
    {{ form.product_type }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.OffAxis_angle }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.cut_efficiency }}
  </div>
</div>

<div class="row pb-2">
  <div class="form-group col-md-11">
    {{ form.data_cube_type }}
  </div>
  <div class="form-group col-md-11">
    {{ form.data_cube_url }}
  </div>
  <div class="form-group col-md-6">
    {{ form.data_cube_file }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Texp }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Zd }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.F0 }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.z }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.N_backgr_regions }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.E0 }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Exposure_time }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.source_extension }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Radius_spectal_extraction }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Gamma }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Norm }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Radius_sky_image }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.index }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Site }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Telescopes_LST }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Telescopes_MST }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Telescope_LST }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Telescopes_SST }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Telescope_MST }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Telescope_SST }}
  </div>
</div>

<div class="actions mt-3">
  {{ form.submit }}
</div>
</div>
