<div class="block-rows-sep">
{{ form.instrument }}
<div class="row mmoda-form-ids">
    {{ form.form_build_id }}
    {{ form.form_id }}
</div>

<div class="row underline pb-2">
  <div class="row">
    {{ form.product_type }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.data_release }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-5">
    {{ form.Radius }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-5">
    {{ form.R_s }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-5">
    {{ form.pixsize }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-5">
    {{ form.Emin }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-5">
    {{ form.Emax }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-5">
    {{ form.NEbins }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-5">
    {{ form.NTbins }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-5">
    {{ form.Efit_min }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-5">
    {{ form.Efit_max }}
  </div>
</div>

<div class="actions mt-3">
  {{ form.submit }}
</div>
</div>
