<div class="block-rows-sep">
{{ form.instrument }}
<div class="row mmoda-form-ids">
    {{ form.form_build_id }}
    {{ form.form_id }}
</div>

<div class="row underline pb-2">
  <div class="col-md-6">
    {{ form.product_type }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.RA_rename }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.detection_time_scales }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Dec }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.lc_time_scale }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.tstart_rel_mseconds }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.background_age }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.tstop_rel_seconds }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.min_sn }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.t0_utc }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.required_completeness }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.mode }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.global_snr_threshold }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.negative_excesses }}
  </div>
</div>

<div class="actions mt-3">
  {{ form.submit }}
</div>
</div>
