<div class="block-rows-sep">
{{ form.instrument }}
<div class="row mmoda-form-ids">
    {{ form.form_build_id }}
    {{ form.form_id }}
</div>

<div class="row underline pb-2">
  <div class="col-md-6">
    {{ form.product_type }}
  </div>
</div>

<div class="row pb-2">
  <div class="form-group col-md-11">
    {{ form.fn_type }}
  </div>
  <div class="form-group col-md-11">
    {{ form.fn_url }}
  </div>
  <div class="form-group col-md-6">
    {{ form.fn_file }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.z_start }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.sep }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.new_column }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.expression }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Npart }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.particle_type }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.column }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Emax }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.weights }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Emin }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.binning }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.EminSource }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.minval }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.Gamma }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.maxval }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.EGMF_fG }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.nbins }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.lmaxEGMF_Mpc }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.xlabel }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.jet_half_size }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.ylabel }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.jet_direction }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.window_size_RA }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.psf }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.window_size_DEC }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.livetime }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.EBL }}
  </div>
</div>

<div class="actions mt-3">
  {{ form.submit }}
</div>
</div>
