
<div class="row">
  <div class="col-md-6">
    {{ form.RA }}
  </div>
  <div class="col-md-6">
    {{ form.DEC }}
  </div>

</div>
<div class="row">
  <div class="col-md-5">
    {{ form.T1  }}
  </div>
  <div class="col-md-5">
    {{ form.T2 }}
  </div>
  <div class="col-md-2">
    {{ form.T_format }}
  </div>
</div>