<div class="block-rows-sep">
{{ form.instrument }}
<div class="row mmoda-form-ids">
    {{ form.form_build_id }}
    {{ form.form_id }}
</div>

{{ form.query_type }}

<div class="row underline pb-2">
  <div class="col-md-6">
    {{ form.data_release }}
  </div>
</div>

<div class="row underline pb-2">
  <div class="row">
    {{ form.product_type }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.image_size }}
  </div>
  <div class="col-md-6">
    {{ form.pixel_size }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-5">
    {{ form.image_band }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-5">
    {{ form.radius_photometry }}
  </div>
</div>

<div class="actions mt-3">
  {{ form.submit }}
</div>
</div>
