<div class="block-rows-sep">
{{ form.instrument }}
<div class="row mmoda-form-ids">
    {{ form.form_build_id }}
    {{ form.form_id }}
</div>

<div class="row underline pb-2">
  <div class="col-md-6">
    {{ form.product_type }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.epsilon_turb }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.T_star }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.g_star }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.alpha }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.beta_H }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.v_w }}
  </div>
</div>

<div class="row pb-2">
  <div class="col-md-6">
    {{ form.h }}
  </div>
</div>

<div class="actions mt-3">
  {{ form.submit }}
</div>
</div>
