<div class="block-rows-sep">
{{ form.instrument }}
<div class="row mmoda-form-ids">
    {{ form.form_build_id }}
    {{ form.form_id }}
</div>

<div class="row underline pb-2">
  <div class="col-md-6">
    {{ form.query_type }}
  </div>
</div>

<div class="row underline pb-2">
  <div class="col-md-6">
    {{ form.radius }}
  </div>
</div>

<div class="row underline pb-2">
  <div class="col-md-6">
    {{ form.product_type }}
  </div>
</div>

<div class="actions mt-3">
  {{ form.submit }}
</div>
</div>
